{% extends 'base.html' %}
{% block title %}
About
{% endblock title %}
{% block body %}
<!-- {{about}} -->
<div class="container my-4">
    Thankyou for visiting this website. Hope you like my project. I started to bulid this website in early 2020.
    And now finally this website is completed totaly by the end of 2021. I request you all not to pin any vulguar,
    abusive or any other offensive statements as I may not be able to sort list and delete them.
    The whole source code for this website will be uploaded in my GitHub repository soon.
</div>
<div class="container my-4">
    Thankyou Once Again<br>
    -Dhruv Kumar<br>
    🙏🙏🙏<br>
</div>

{% endblock body %}